# chroot_list user file for vsftpd
# Written by Chef
# Changes will be overwritten after next
# chef-client run

<% unless node['user']['name'].empty? or node['user']['name'].nil? %>
	<%= node['user']['name'] %>
<% end %>
