
-- root password set
SET PASSWORD FOR root@localhost=PASSWORD('root5234');

<% unless node[:wp_db].empty? or node[:wp_db].nil? %>
       <% node[:wp_db].each do |db| %>
--
-- WORD PRESSデータベース（wp）の作成
--
CREATE DATABASE <%= db[:name] %> CHARACTER SET utf8;
--
-- WORD PRESSデータベースユーザ（wp）の作成
--
GRANT ALL PRIVILEGES ON <%= db[:name] %>.* TO <%= db[:name] %>@localhost IDENTIFIED BY '{<%= db[:password] %>}';
       <% end %>
<% end %>
